html, body{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}


*{
	box-sizing: border-box; 
}


img{
	max-width: 100%;
}

.container{
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

.header{
	background: #4dff88;
	width: 100%;
}

.menu{
	display: inline-block;
	float: right;
}

.menu a{
	color: #1a1a00;

}

li{
	display: inline-block;
	padding: 5px 10px;
	border-radius: 5px;
	background:#994d00; 
}

p{

	font-family: arial;
	font-style: italic;
	font-size: 40px;
}

.cards .card{
	display: inline-block;
	width: 33%;
	float: left;
	margin: 0;
	padding: 10px;
}

table {
	border: 2px solid black;
}

td{
	border: 2px solid red;
}

form{
display:inline-block;
float: left;
}
@media screen and (min-width: 500px){
	body{
		background: 
	}
}


